#preview-shop-img {
	border-radius: 50%;
}
input[type="file"] {
	color: #cd7f32;
}

input::file-selector-button {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 50px;
	padding: 5px 10px;
	cursor: pointer;
}
#preview-banner-img {
	width: 100%;
	height: 100px;
	margin-top: 15px;
}
