.navigation {
	display: flex;
	justify-content: space-between;
	margin: 25px 35px;
	padding: 0;
}
#logo {
	font-weight: bolder;
	padding-left: 0;
	font-size: 1.2em;
}
.top-right-navigation {
	display: flex;
	align-items: center;
}
.hidden {
	display: none;
}
