.navigation {
	display: flex;
	justify-content: space-between;
	margin: 25px 35px;
	padding: 0;
}
#logo {
	font-weight: bolder;
	padding-left: 0;
	font-size: 1.2em;
}
.top-right-navigation {
	display: flex;
	align-items: center;
}
.hidden {
	display: none;
}

#sell-btn {
	margin-right: 10px;
}
#logo-text {
	padding-left: 0;
	font-family: "Climate Crisis", cursive;
}
#navlogin {
	display: flex;
	gap: 10px;
}
